**
!server-icon.png
!build/
!build/container/
!build/container/*.jar
!deploy/
!deploy/Dockerfile.*
!deploy/*-start.sh
!deploy/velocity.toml
!deploy/viaversion.yml
!deploy/vendor/
!deploy/vendor/*.jar
